@use '~@angular/material' as mat;
@use "sass:map";
@use '~@angular/material/theming';

// Define the default theme (same as the example above).
$texta-primary: theming.mat.define-palette(theming.mat.$indigo-palette);
$texta-accent:  theming.mat.define-palette(theming.mat.$pink-palette, A200, A100, A400);
$texta-warn:    theming.mat.define-palette(theming.mat.$red-palette);

$texta-theme:   theming.mat.define-light-theme($texta-primary, $texta-accent);



$navbar-height: 56px;

$primary: theming.mat.get-color-from-palette($texta-primary);
$accent: theming.mat.get-color-from-palette($texta-accent);
$warn: theming.mat.get-color-from-palette($texta-warn);

$foreground: map.get($texta-theme, foreground);
$background: map.get($texta-theme, background);
